* {
  margin: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  scroll-behavior: smooth;
}

img {
  width: 100%;
  vertical-align: middle;
}

@font-face {
  font-family: "Gambarino-Regular";
  src: url("../fonts/Gambarino-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Gambarino-Regular", serif;
}

body {
  background-color: rgb(255, 255, 255);
}

header {
  height: calc(100vh - 3rem);
  background-image: url(../img/header\ 2.png);
  background-size: cover;
  background-position: center;
  /* Contenedor flexible para que se coloque verticalmente el h1 */
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

header > figure {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 1050px;
  height: auto;
  margin-top: 4.5rem;
  margin-left: 12rem;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 5rem;
}

h1 {
  font-size: 6rem;
  color: black;
  border-radius: 50px;
  font-weight: lighter;
}

p {
  padding-left: 5rem;
}

/* Maquetación del menú */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

#menu > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 3.5rem;
  align-items: center;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
}

#menu > ul > li > a {
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  font-weight: bold;
}

header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#sobremi > * {
  align-items: center;
  margin-top: 0rem;
}

#sobremi > div > div > p {
  text-align: justify;
  margin-right: 0;
  align-items: center;
}

#sobremi > div > div > h1 {
  margin-bottom: 1rem;
}

#sobremi > div {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  width: 1300px;
  height: auto;
}

#sobremi > div > * {
  flex: 1;
}

#sobremi > div > figure {
  margin-top: 5rem;
  padding-left: 7rem;
  flex: 0.65;
}

#proyectos {
  margin-top: -5rem;
  background-color: black;
  padding-bottom: 7rem;
}

#proyectos h1 {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  margin-bottom: 0;
}

#proyectos h1,
p1 {
  color: white;
}

#proyectos > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  flex-wrap: wrap;
  grid-column-start: left;
  margin-left: 5rem;
  margin-right: 5rem;
}

#proyectos > div > figure {
  position: relative;
  flex: 1 1 250px;
  justify-content: flex-start;
  width: 600px;
}

#proyectos > div > figure > img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  object-position: center;
  border-radius: 25px;
}

#proyectos > div > figure > figcaption {
  font-size: 1.25rem;
  position: absolute;
  color: white;
  font-weight: lighter;
  font-style: normal;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 2.5rem;
}

#proyectos > div > figure > p2 {
  font-size: 3rem;
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  font-style: normal;
  border-radius: 25px;
  background-color: rgba(255, 0, 132, 0.792);
  backdrop-filter: blur(2px);
  z-index: 1;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

#proyectos > div > figure:hover > p2 {
  opacity: 1;
  transition: 0.5s;
}

section {
  min-height: 100vh;
  padding: 0 2rem;
  scroll-margin-top: 3rem;
}

/* Maquetación de la sección Contacto */
#contacto {
  display: flex;
  /* justify-content: space-between; */
}

#contacto > div > form > p {
  text-align: center;
  padding-left: 0;
}

#contacto > div {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#contacto > div > form,
#contacto > div > ul {
  width: 100%;
}

/* Maquetación del formulario*/
#contacto > div > form > input,
#contacto > div > form > textarea {
  display: block;
  width: 100%;
  height: 2em;
  margin: 1em 0;
  border: #a2a2a2 1.5px solid;
  border-radius: 5px;
}

#contacto > div > form > textarea {
  height: 5em;
}

/* Maquetación botón de enviar formulario. */
#contacto > div > form > input[type="submit"] {
  color: black;
  background-color: rgb(255, 187, 222);
  border: none;
  width: 5em;
  margin: 1em auto;
  cursor: pointer;
  transition: 0.5s ease;
}

#contacto > div > form > input[type="submit"]:hover {
  color: white;
  background-color: rgb(255, 0, 132);
}

#contacto > div > form > label {
  display: none;
}

* footer > ul {
  color: black;
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 3.5rem;
  align-items: center;
  padding: 2.5rem;
  background-color: rgb(255, 255, 255);
}

/* Media Queris
@media screen and (max-width: 950px) {
  /* Estilos que cambian para pantallas de menos de 950px de ancho */
/* body {
  background-color: rgb(0, 26, 255);
}
  #ciudad > div {
    flex-direction: column;
  }
  #propuestas > div > figure {
    flex: 1 1 200px;
  }

  @media screen and (max-width: 500px) {
    #transportes > div {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

Maquetación
  #menu > ul {
    flex-direction: column;
     Flex-start es justificar a la izquierda
    align-items: flex-start;
    height: 5rem;
    justify-content: center;
  }

  header {
    height: calc(100vh - 5rem);
  }

  section {
    scroll-margin-top: 5rem;
  }
} */
